<footer class="footer">
  <div class="footer-container">
    <div class="footer-col">
      <a routerLink="/" class="footer-logo-link">
        <img src="/logo.png" alt="VISTA" class="footer-logo">
      </a>
      <p>Nền tảng tư vấn công nghệ thông minh</p>
    </div>

    <div class="footer-col">
      <h4>Danh mục</h4>
      <ul>
        <li><a routerLink="/products" [queryParams]="{category: 'CAT_001'}">Laptop</a></li>
        <li><a routerLink="/products" [queryParams]="{category: 'CAT_002'}">Smartphone</a></li>
        <li><a routerLink="/products" [queryParams]="{category: 'CAT_003'}">Tablet</a></li>
        <li><a routerLink="/products" [queryParams]="{category: 'CAT_004'}">Thiết bị âm thanh</a></li>
        <li><a routerLink="/products" [queryParams]="{category: 'CAT_005'}">Phụ kiện công nghệ</a></li>
        <li><a routerLink="/products" [queryParams]="{category: 'CAT_006'}">Thiết bị Gaming</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Hỗ trợ</h4>
      <ul>
        <li><a routerLink="/policy" [queryParams]="{tab: 'shipping'}">Chính sách giao hàng</a></li>
        <li><a routerLink="/policy" [queryParams]="{tab: 'warranty'}">Chính sách bảo hành</a></li>
        <li><a routerLink="/policy" [queryParams]="{tab: 'return'}">Chính sách đổi trả</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Liên hệ</h4>
      <ul>
        <li>supportvista.vn@gmail.com</li>
        <li>1800 1299</li>
      </ul>

      <div class="social-icons">
        <a href="https://www.facebook.com/people/Vistavn/61590504880941/" title="Facebook"><i class="ph ph-facebook-logo"></i></a>
        <a href="https://www.instagram.com/vista.vn/" title="Instagram"><i class="ph ph-instagram-logo"></i></a>
        <a href="https://www.tiktok.com/@vista.vnn?is_from_webapp=1&sender_device=pc"><i class="ph ph-tiktok-logo"></i></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2026 VISTA. All rights reserved.</p>
  </div>
</footer>